{{ define "extrahead"}}
<meta property="og:headover" content="http://localhost:1313/">
<script src="/vendor/leaflet/leaflet.js"></script>
<script src="/vendor/leaflet-ajax/leaflet.ajax.min.js"></script>
<link rel="stylesheet" href="/vendor/leaflet/leaflet.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/2.1.2/gpx.min.js"></script>

{{ end }}

{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <div class="container">
    <div class="content">
      {{ with .Params.subtitle }}
        <p>{{ . }}</p>
      {{ end }}
    </div>
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time class="content right" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  </div>
  {{ with .Params.image }}
    {{ $imageName := . }}
    {{ $image := resources.Get $imageName }}
    {{ $image := $image.Resize "500x" }}
    {{ with $image }}
      <img src="{{ .RelPermalink }}" class="img-responsive" alt="{{ $.Title }}">
    {{ end }}
  {{ end }}
  {{ with .Resources.Get "image.png" }}
    {{ $image := . }}
    {{ $image := $image.Resize "500x" }}
    {{ with $image }}
      <img src="{{ .RelPermalink }}" class="img-responsive" alt="{{ $.Title }}">
    {{ end }}
  {{ end }}
  {{ with .Resources.Get "route.geojson"}}
    <div>
      <div id="map" style="height:400px;"></div>
      <a href={{ .RelPermalink }}>Download GeoJSON file</a>
    </div>
    <script>
      var map = L.map('map');
      var layer = new L.GeoJSON.AJAX("{{ .RelPermalink }}").addTo(map);
      layer.on('data:loaded', function() {
        map.fitBounds(layer.getBounds());
      })
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);
    </script>
  {{ end }}
  {{ with .Resources.Get "route.gpx"}}
    <div>
      <div id="map" style="height:400px;"></div>
      <a href={{ .RelPermalink }}>Download GPX file</a>
    </div>
    <script>
      var map = L.map('map');


      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);

      const url = '{{ .RelPermalink }}';
      const options = {
        async: true,
        polyline_options: { color: 'red' },
        markers: {
                startIcon: null,
                endIcon: null,
            },

      };

      const gpx = new L.GPX(url, options).on('loaded', (e) => {
        map.fitBounds(e.target.getBounds());
      }).addTo(map);

    </script>
  {{ end }}
  {{ .Content }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
