---
layout: post
hide_image: true
additional_css:
  - assets/vendor/leaflet/leaflet.css
additional_js:
  - assets/vendor/leaflet/leaflet.js
  - assets/vendor/leaflet-ajax/leaflet.ajax.min.js
---
<div>
  <div id="map" style="height:400px;"></div>
  <a href={{ page.geojson }}>Download GeoJSON file</a>
  {{ content }}
</div>
<script>
  var map = L.map('map');
  var layer = new L.GeoJSON.AJAX("{{ page.geojson }}").addTo(map);
  layer.on('data:loaded', function() {
    map.fitBounds(layer.getBounds());
  })
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);
</script>