body {
  color: navy;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  padding: 1rem;
  max-width: 650px;
  background-color: snow;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: darkblue;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .icon {
   height: 30px;
   width: 30px;
   background: #000;
   flex: 50%;
}
.container .content {
   flex: 50%;
}

.container .right {
   flex: 50%;
   display: flex;
   justify-content: end;
   align-items: center;
}
@media (max-width: 500px) {
  .container .icon, .container .content {
    flex: 100%;
  }
  .container .right {
    justify-content: start;
  }
}
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
ul.inline {
  display: inline;
}

.inline li { display: inherit; }
.inline li:after { content: "  |  "; }
.inline li:last-child:after { content: ""; }

.img-responsive
{
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

ul.pagination {
  display: inline;
  list-style-type: none;
}
li.page-item {
  display: inline;
  list-style-type: none;
}
