---
layout: page
---
{% assign pagesSorted = site.pages | sort: "dir" %}
<p>
  {%- for sub_page in pagesSorted  -%}
      {% if page.dir contains sub_page.dir and sub_page.dir != "/" and sub_page.dir != page.dir %}
          <a href="{{sub_page.dir}}">{{ sub_page.dir | split: "/" | last }}</a> / 
      {% endif %}
  {%- endfor -%}
</p>

<p>
{% for sub_page in pagesSorted %}
{% if sub_page.dir contains page.dir and sub_page.dir != page.dir %}
<a href="{{ sub_page.url }}">{{ sub_page.url | remove: page.dir }}</a><br />
{% endif %}
{% endfor %}
</p>

{{ content }}