---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {%- include post-header.html -%}

  <div>
    <img src={{ page.image }}>
  </div>
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

    <ol>
      {% for film in site.films %}
        {% if page.event == film.event %}
          <li><h3>{{ film.title }}</h3></li>
          <p><small><a href="{{ film.url }}">{{ film.url | relative_url }}</a></small></p>
          <p>{{ film.content | markdownify }}</p>
          {% if film.rating %}<h4>{{ film.rating }}</h4>{% endif %}
          <br />
        {% endif %}
      {% endfor %}
    </ol>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
