name: Pulumi Preview

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'infra/**'
      - '.hugo-version'
      - '.go-version'
  workflow_dispatch:

jobs:
  preview:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    env:
      PULUMI_ACCESS_TOKEN:  ${{ secrets.PULUMI_ACCESS_TOKEN }}

    defaults:
      run:
        working-directory: infra
        
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Pulumi preview
        uses: pulumi/actions@v6
        with:
          command: preview
          stack-name: brokensbone/rnp-web-infra/dev
          work-dir: infra
    
